
h1 {
  text-align: center;
  font-size: 4em;
}

.intro {
  padding-left: 3em;
  text-align: center;
}

.bottom {
  background-color: #00BFFF;
  padding: 3em 5em 10em 5em;
}

a {
  text-decoration: none;
  text-align: center;
}
